.select2-selection__arrow {
    display: none;
}
.select2-container--default, .select2-container--default .select2-selection--single, .select2-selection__rendered {
    height: auto;
    line-height: 40px !important;
}
.select2-container--default .select2-selection--single {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.select2-selection__choice {
    max-height: 40px;
}
.select2-container--default .select2-search--inline .select2-search__field {
    line-height: 1;
}
