.select2-selection__arrow {
    display: none;
}
.select2-container--default, .select2-container--default .select2-selection--single, .select2-selection__rendered {
    height: auto;
    line-height: 38px !important; /* 修正 */
}
/* 追加 */
.select2-search--dropdown .select2-search__field {
    padding: 4px 8px;
    line-height: 32px;
    margin-bottom: 0.25rem;
    width: 100%;
    box-sizing: border-box;
}
.select2-container--default .select2-selection--single {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.select2-selection__choice {
    max-height: 40px;
}
.select2-container--default .select2-search--inline .select2-search__field {
    line-height: 1;
}
